# === Python / Backend ===

# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración local o secretos
*.env
.env.*
!.env.example

# Carpeta de instancia de Flask
instance/


# === Node.js / Frontend ===

# Dependencias (la carpeta más importante a ignorar)
frontend/node_modules/

# Archivos de log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Carpeta de producción (generada al compilar)
frontend/build/
frontend/dist/

# Archivos de variables de entorno locales
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local


# === Jupyter Notebooks ===

# Archivos de checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/


# === Datasets ===

# Ignorar la carpeta de datos si los archivos son grandes.
# Es mejor documentar en el README de dónde descargarlos.
# notebooks/data/


# === Archivos de Sistema Operativo ===

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump


# === Archivos de IDE / Editor de Código ===

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# PyCharm
.idea/
backend/requirements.txt
